/* Sample CSS file */


/* Simple selectors */
/* Always leave a space after the selector name and a tab before the rules in every line */
a {
	color: #becc76;
}


/* Classes */
.sample-class {
	border: 1px solid #ccc;
	margin-bottom: 10px;
}


/* IDs */
#content {
	font-size: 16px;
}


/* Multiple selectors */
a, span, .excerpt {
	color: #666;
}


/* Deep selectors */
#content .section p span {
	display: inline-block;
}


/* Vendor Prefixes */
/* Always put the vendor-specific rules first */
p {
	-webkit-transition: all 4s ease;
	-moz-transition: all 4s ease;
	-ms-transition: all 4s ease;
	-o-transition: all 4s ease;
	transition: all 4s ease;
}
